.Container {
  background-color: white;
  margin: 5rem auto;
  width: 70%;
  border-radius: 1rem;
  padding: 5rem;
}

.TBox {
  background-color: rgb(219, 219, 219);
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
