.SideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 70%;
  height: 100vh;
  background: linear-gradient(to right, rgb(218, 218, 218), #e4e4e4, white);
  display: none;
  transition: all 0.4s;
}

.UList {
  text-align: center;
  list-style: none;
}

.List {
  font-size: 1.5rem;
  padding: 1.5rem;
  transition: all 0.4s;
}

.List a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.75rem;
  background-color: #731dd8;
  font-weight: bold;
  border: 0.2rem solid white;
}

.List a:hover {
  color: #731dd8;
  font-weight: bold;
  background-color: white;
  border: 0.2rem solid #731dd8;
}

@media (max-width: 600px) {
  .SideDrawer {
    display: grid;
    align-items: center;
  }
}
